body {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: 10pt;
  text-align: justify;
  height: 29.7cm;
  width: 21cm;
  /* margin: 0; */
  /* display: flex; */
  /* flex-direction: column; */
}

table, th, td {
  border: 1px solid;
}

.bar90{
	width: 90%; background-color: #4CAF50;
}
.bar80{
	width: 80%; background-color: #4CAF50;
}


.main > div{
	display: flex;
	flex-direction: row;
}

.skills {
  width: 180px;
}

.timeline tbody tr::before {
    content: 'x';
    /* position: relative; */
    top: 0px;
    left: 40%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 4px;
    background-color: #828282;
}

tr::before{
  content: 'x';	
}